@font-face {
  font-family: 'Seaside Resort NF Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Seaside Resort NF Regular'), url('SeasideResortNF.woff') format('woff');
  }

h1 {
  font-family: 'SeasideResortNF';
}

